$icon-font-path: "../media/fonts/";
$fa-font-path: "../media/fonts/" !default;
$slick-loader-path: "../media/img/" !default;

$ms-base: 6px;
$ms-ratio: $golden;

$ms--xs: $ms-base;
  $ms--sm: floor((ms(2)));
  $ms--md: floor((ms(3)));
  $ms--lg: floor((ms(4)));
  $ms--xl: floor((ms(6)));
  $ms--xxl: floor((ms(10)));

// The sequence continues with quaternary, quinary, senary, septenary, octonary, nonary, and denary
$color--neutral: #fff; //white
  $color--stable: #f2f2f2; //grey
  $color--dark: dark; //color
  $color--pri: #313871; //blue
  $color--sec: #ffec19; //yellow
  $color--ter: ter; //color

.color--neutral { color: $color--neutral;}
  .color--stable { color: $color--stable;}
  .color--dark { color: $color--dark;}
  .color--pri { color: $color--pri;}
  .color--sec { color: $color--sec;}
  .color--ter { color: $color--ter;}

.color--neutral-bg { background: $color--neutral;}
  .color--stable-bg { background: $color--stable;}
  .color--dark-bg { background: $color--dark;}
  .color--pri-bg { background: $color--pri;}
  .color--sec-bg { background: $color--sec;}
  .color--ter-bg { background: $color--ter;}

$font-pri--reg: Ropa Sans;
// $font-pri--bold: pri;
// $font-pri--light: pri;

$font-sec--reg: Roboto;
  $font-sec--bold: sec;
  $font-sec--light: sec;

$font-ter: ter;


